<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="rateLimiter" class="com.panli.factory.scene_di_container.RateLimiter">
        <constructor-arg ref="redisCounter"/>
    </bean>

    <bean id="redisCounter" class="com.panli.factory.scene_di_container.RedisCounter">
        <constructor-arg type="String" value="127.0.0.1"/>
        <constructor-arg type="int" value="1234"/>
    </bean>
</beans>